body{
  margin:0;
  padding:0;
   /* background-color:rgba(135, 206, 235, 0.8); */
}
#pomodoro-container{
 height:13em;
  width:15em;
  background-color:rgba(135, 206, 235, 0.8);
  position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: tomato; */
    border-radius:0.25em;
    padding: 20px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
  }
  #display-div{

  background-color:rgba(255, 255, 255, 0.8);
  padding:0.25em;
    border:1px solid black;
    border-radius:0.25em;
  }
  button{
    margin:0.25em;
  }
  #reset-btn{
    border-radius:0.25em;
    background-color:tomato;
  }
  #start-btn{
    background-color:MediumSeaGreen;
    border-radius:0.25em;
  }
  #info-div{
 background-color:rgba(255, 255, 255, 0.8);
  padding:0.25em;
    border:1px solid black;
    border-radius:0.25em;
  }
